@media (max-width: 576px){
    .container{
        width: 100%;
    }
    .navbar .navbar-left{
        display: none;/*لاخفاء العنصر*/
    }
    .navbar .navbar-right{
        display: none;
    }
    .navbar .navbar-medium{
        width: 100%;
    }
    /*********************/
    .header{
        background-position: center;
    }
    .header .header-content{
        width: 60%;
    }
    .header .header-content .text-h6{
        font-size: 8px;
        margin-bottom: 10px;
    }
    .header .header-content h1{
        font-size: 60px;
        margin-bottom: 30px;
    }
    .header .header-content p{
        font-size: 14px;
    }
    .header .header-content .header-a{
        padding: 15px 25px;
        font-size: 12px;
        margin-left: 20px;
    }
    .header .end-header{
        padding-top: 10px;
    }
    .header .end-header .icons-inleft{
        display: none;
    }
    .header .end-header .para-inright{
        display: none;
    }
    /******************************/
    .experience .experience-para{
        float: none;
        width: 90%;
        margin: auto;
    }
    .experience .experience-img{
        float: none;
        width: 100%;
    }
    .experience .experience-img .border-img{
        width: 280px;
        height: 430px;  
        top: 1050px;
        left: 100px;
    }
    .experience .experience-img .img{
        width: 280px;
        height: 430px;  
        top: 1010px;
        left: 60px;
    }
    .experience .experience-paragraph{
        float: none;
        width: 100%;
        display: none;
    }
    /*****************************************/
    .seating{
        margin-bottom: 700px;
    }
    .seating .seating-paragraph h2{
        text-align: center;
    }
    .seating .seating-paragraph{
        float: none;
        width: 95%;
        margin-left: 30px;
    }
    .seating .seating-paragraph p{
        text-align: center;
    }
    .seating .seating-para{
        float: none;
        width: 100%;
        margin: auto;
        margin-left: 20px;
        margin-top: 70px;
    }
    .seating .seating-img{
        float: none;
        width: 100%;
    }
    .seating .seating-img .seating-border1{
        width: 280px;
        height: 370px; 
        top: 2041px;
        left: 100px;
    }
    .seating .seating-img .seating-border2{
        width: 280px;
        height: 370px; 
        top: 1943px;
        left: 30px;
    }
    .seating .seating-img .img-seating{
        width: 280px;
        height: 370px; 
        top: 1990px;
        left: 80px;
    }
    /*******************************************/
    .coffees .coofees-content{
        width: 100%;
        padding-left: 30px;
    }
    /********************************************/
    .menu .menu-content p{
        font-size: 13px;
    }
    .menu .list-menu .sub-list{
        float: none;
        width: 100%;
        margin-left: 12px;
    }
    /********************************************/
    .dishes .dishes-content p{
        margin-bottom: 20px;
        margin-bottom: 60px;
        font-size: 12px;
    }
    .dishes .list-dishes .sub-dish{
        float: none;
        width: 100%;
        margin-right: 60px;
    }
    .dishes .list-dishes .sub-dish img{
        width: 70%;
        margin-left: 40px;
    }
    .dishes .list-dishes .end-dish .menu-content{
        float: none;
        margin: auto;
    }
    .dishes .list-dishes .end-dish .price{
        font-size: 25px;
        margin-right: 196px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    /*************************************************/
    .online .container{
        width: 95%;
    }
    .online .online-content h2{
        font-size: 30px;
    }
    .online .online-content P{
        font-size: 13px;
    }
    .online .online-form .sub_online{
        float: none;
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
    .online .online-form .button input{
        width: 40%;
        margin-left: 114px;
        margin-top: 20px;
    }
    /***************************************************/
    .clients{
        margin: 100px 10px 50px 10px;
    }
    .clients .container{
        width: 100%;
    }
    .clients .sub_clients .icon1,.icon2{
        display: none;
    }
    .clients .sub_clients .clients-para{
        float: none;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0;
    }
    .clients .clients-content p{
        font-size: 14px;
    }
    .clients .sub_clients .clients-img{
        float: none;
        width: 100%;
    }
    .clients .sub_clients .clients-img img{
        height: 300px;
        width: 300px;
        margin-left: 55px;
    }
    /************************************************/
    .gallery{
        margin-top: 100px;
    }
    .gallery .gallery-images .gallery-left{
        float: none;
        width: 100%;
        margin-left: 10px;
    }
    .gallery .gallery-images .gallery-medium{
        float: none;
        width: 100%;
        margin-left: 10px;
    }
    .gallery .gallery-images .gallery-right{
        float: none;
        width: 105%;
        margin-left: 10px;
    }
    /****************************************************/
    .map{
        margin-top: 50px;
    }
    /***************************************************/
    .footer{
        height: 1000px;
    }
    .footer .about-us{
        float: none;
        width: 100%;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .footer .contact-info{
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    .footer .opening-hours{
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    .footer .para-inend{
        margin-left: 75px;
        padding-right: 150px;
    }
}

/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/***************************************************************************************************/

@media (min-width: 577px) and (max-width: 992px){
    .container{
        width: 100%;
    }
    .navbar .navbar-left{
        display: none;/*لاخفاء العنصر*/
    }
    .navbar .navbar-right{
        display: none;
    }
    .navbar .navbar-medium{
        width: 100%;
    }
    /*********************/
    .header .header-content .text-h6{
        font-size: 8px;
        margin-bottom: 10px;
    }
    .header .header-content h1{
        font-size: 70px;
        margin-bottom: 30px;
    }
    .header .header-content p{
        font-size: 20px;
    }
    .header .header-content .header-a{
       
        font-size: 16px;
        margin-left: 75px;
    }
    .header .end-header{
        padding-top: 10px;
    }
    .header .end-header .icons-inleft{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .header .end-header .para-inright{
        float: none;
        width: 100%;
        text-align: center;
    }
    /******************************/
    .experience .experience-para{
        float: none;
        width: 90%;
        margin: auto;
        font-size: 22px;
    }
    .experience .experience-img{
        float: none;
        width: 100%;
    }
    .experience .experience-img .border-img{
        width: 311px;
        height: 468px;  
        top: 1240px;
        left: 250px;
    }
    .experience .experience-img .img{
        width: 311px;
        height: 468px;  
        top: 1190px;
        left: 190px;
    }
    .experience .experience-paragraph{
        float: none;
        width: 100%;
        display: none;
    }
    /*****************************************/
    .seating{
        margin-bottom: 700px;
        margin-top: 170px;
    }
    .seating .seating-paragraph h2{
        text-align: center;
        margin-bottom: 20px;
        font-size: 32px;
    }
    .seating .seating-paragraph{
        float: none;
        width: 95%;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .seating .seating-paragraph p{
        text-align: center;
    }
    .seating .seating-para{
        float: none;
        width: 100%;
        margin: auto;
        margin-left: 20px;
        margin-top: 70px;
    }
    .seating .seating-img{
        float: none;
        width: 100%;
    }
    .seating .seating-img .seating-border1{
        width: 300px;
        height: 468px; 
        top: 2190px;
        left: 290px;
    }
    .seating .seating-img .seating-border2{
        width: 311px;
        height: 468px; 
        top: 2120px;
        left: 120px;
    }
    .seating .seating-img .img-seating{
        width: 311px;
        height: 468px; 
        top: 2160px;
        left: 205px;
    }
    /*******************************************/
    .coffees .coofees-content{
        width: 100%;
        padding-left: 50px;
    }
    .coffees .coofees-content p{
        font-size: 25px;
    }
    /********************************************/
    .menu .menu-content h2{
        font-size: 32px;
    }
    .menu .menu-content p{
        font-size: 13px;
    }
    .menu .anchor a{
        font-size: 15px;
    }
    .menu .list-menu .sub-list{
        float: none;
        width: 100%;
        margin-left: 12px;
    }
    /********************************************/
    .dishes .dishes-content h2{
        font-size: 32px;
    }
    .dishes .dishes-content p{
        margin-bottom: 20px;
        margin-bottom: 80px;
    }
    .dishes .list-dishes .sub-dish{
        float: none;
        width: 100%;
        margin-right: 60px;
    }
    .dishes .list-dishes .sub-dish img{
        width: 60%;
        height: 250px;
        margin-left: 125px;
        margin-bottom: 30px;
    }   
    .dishes .list-dishes .end-dish .menu-content h3{
        margin-left: 30px;
        font-size: 28px;
    }
    .dishes .list-dishes .end-dish .menu-content p{
        margin-left: 30px;
        font-size: 25px;
    }
    .dishes .list-dishes .end-dish .menu-content{
        float: none;
        margin: auto;
    }
    .dishes .list-dishes .end-dish .price{
        font-size: 25px;
        margin-right: 333px;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    /*************************************************/
    .online .container{
        width: 95%;
    }
    .online .online-content h2{
        font-size: 32px;
    }
    .online .online-content P{
        font-size: 17px;
    }
    .online .online-form .sub_online{
        float: none;
        width: 70%;
        margin: auto;
        margin-bottom: 10px;
    }
    .online .online-form .button input{
        width: 40%;
        margin-left: 212px;
        margin-top: 20px;
    }
    /***************************************************/
    .clients{
        margin: 100px 10px 50px 10px;
    }
    .online .online-content h2{
        font-size: 32px;
    }
    .online .online-content p{
        font-size: 18px;
        margin-bottom: 70px;
    }
    .clients .container{
        width: 100%;
    }
    .clients .sub_clients .icon1,.icon2{
        display: none;
    }
    .clients .sub_clients .clients-para{
        float: none;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0;
    }
    .clients .sub_clients .clients-para p{
        font-size: 22px;
    }
    .clients .sub_clients .clients-para h5{
        font-size: 17px;
    }
    .clients .sub_clients .clients-img{
        float: none;
        width: 100%;
    }
    .clients .sub_clients .clients-img img{
        height: 300px;
        width: 300px;
        margin-left: 240px;
    }
    /************************************************/
    .gallery{
        margin-top: 100px;
        margin-bottom: 10px;
    }
    .gallery .gallery-content h2{
        font-size: 32px;
    }
    .gallery .gallery-content p{
        font-size: 22px;
    }
    /****************************************************/
    .map{
        margin-top: 50px;
    }
    /***************************************************/
    .footer{
        height: 1200px;
    }
    .footer .about-us{
        float: none;
        width: 100%;
        margin-left: 60px;
        margin-bottom: 70px;
    }
    .footer .about-us h2{
        font-size: 20px;
    }
    .footer .about-us p{
        font-size: 24px;
    }
    .footer .contact-info{
        float: none;
        width: 100%;
        margin-bottom: 70px;
        margin-left: 30px;
    }
    .footer .contact-info h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer .contact-info .contact i{
        font-size: 22px;
    }
    .footer .contact-info .contact li span{
        font-size: 24px;
    }
    .footer .contact-info .contact a{
        font-size: 24px;
    }
    .footer .opening-hours{
        float: none;
        width: 100%;
        margin-bottom: 50px;
        margin-left: 30px;
    }
    .footer .opening-hours h2{
        font-size: 20px;
    }
    .footer .opening-hours .day1,.day2{
        font-size: 24px;
    }
    .footer .opening-hours .time1,.time2{
        font-size: 24px;
    }
    .footer .para-inend{
        font-size: 24px;
        margin-left: 50px;
        padding-right: 150px;
    }
}

/***************************************************************************************************/